.container1 ul{
  
    align-items: center;
    margin-top: 3%;
    height: auto;
    width: 50%;
    padding-bottom: 2em;
    
    
}
.container1{
    background-color: rgb(45, 106, 45);
    border:none;
    border-radius: 10px;
    opacity: 1;
    z-index: auto;
    margin-right: 30%;
    margin-left: 30%;
    padding-left: 0;
}


.buttonLog{
  display: inline;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

.buttonLog:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.buttonLog:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.divlogin li{
    list-style: none;
    margin: 2em;
    text-align: center;
}
textarea{
    
}
.icon1{
    padding-right: 4px;
    margin-bottom: 6px;
}
.textlog{
   
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   
   
    

}
#teste{
    margin-top: 100px;
}
.container2{

}

input {
  background-color: rgb(234, 235, 235);
  color: #548361;
  opacity: 1;
  
}